div[data-testid="stVerticalBlock"] > div:has(> div.stMarkdown) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
div[data-testid="stVerticalBlock"] > div:has(> div.stMarkdown) h1 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
div[data-testid="stVerticalBlock"] > div:has(> div.stMarkdown) hr {
    margin-top: 0 !important;
}