.git
__pycache__
*.pyc
data/unity/*
.github/*
venv/*
Makefile
.git/*
docker-compose.yml
dockerfiles/*
Dockerfile
.gitignore

.DS_Store
Thumbs.db
.idea
.vscode

__pycache__/
*.py[cod]


venv/
env/
.venv
env


build/
dist/
*.egg-info

.pytest_cache/
coverage/
htmlcov/
.env
*.env.*